<div id="imageninformacion">

      <img src="http://hibult-static.websplanetdemo.com/var/m_3/3f/3f6/3576/53687-alo-liquidos-botillerias-a-domicilio-fachada-de-local.jpg" alt="" />
      
<!--       <h2>Líquidos</h2> -->
</div>

<h4>Dirección:</h4>
<p>Tobalaba 911, Providencia, Santiago</p>

<h4>Horario de atención</h4>
<p>12:00 pm - 03:00 am</p>

<h4>Teléfono</h4>
<p>(02) 21234567</p>

<h4>Sitio Web</h4>
<p>Liquidos.cl</p>

<h4>Medios de pago</h4>
<p></p>